@model ProjetoBiblioteca.Models.Livros

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Novo Livro";

}

<h2 class=" text-center;">Novo Livro</h2>

<link href="~/css/acoes.css" rel="stylesheet" />

<form asp-action="Criar" method="post" enctype="multipart/form-data" class="f">

    @Html.AntiForgeryToken()



    <div class="d">
        <label class="l">Título</label>
        <input asp-for="Titulo" required  class="i"/>
    </div>



    <div class="d"> 
        
        <label class="l">Autor</label>
        
        <select asp-for="AutorId" asp-items="ViewBag.Autores" class="s">
        
            <option value="">(Selecione)</option>
        
        </select>
        
    </div>
        
        
        
    <div class="d">

        <label class="l">Editora</label>

        <select asp-for="EditoraId" asp-items="ViewBag.Editoras" class="s">

            <option value="">(Selecione)</option>

        </select>

    </div>



    <div class="d">

        <label class ="l">Gênero</label>

        <select asp-for="GeneroId" asp-items="ViewBag.Generos" class="s">

            <option value="">(Selecione)</option>

        </select>

    </div>



    <div class="d">
        <label class="l">Ano</label>
        <input asp-for="Ano" type="number"  class="i"/>
    </div>

    <div class="d">
        <label class ="l">ISBN</label>
        <input asp-for="Isbn"  class="i"/>
    </div>

    <div class="d">
        <label class ="l">Quantidade total</label>
        <input asp-for="QuantidadeTotal" type="number" min="1" value="1" required  class="i"/>
    </div>

    <div class="d"> 
        <label class="l lif" for="Capa">
            Clique para inserir uma capa 
        </label>
        <input type="file"  name="capa" accept="image/*" class="if" id="Capa"  style="display:none;" />

        <br/>
        <small class="l"> Formatos comuns: JPG/PNG. Tamanho Moderado</small>
    </div>

    <button type="submit">Salvar</button>

</form> 