@model ProjetoBiblioteca.Models.Livros
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Editar Livro";
}
<link href="~/css/acoes.css" rel="stylesheet" />
<div class="page-header">
    <h2>Editar Livro</h2>
</div>

<div class="card">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="validation">
            @foreach (var e in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <div>@e.ErrorMessage</div>
            }
        </div>
    }

    <form asp-action="Editar" method="post" class="f" enctype="multipart/form-data" >
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <div class="d">
            <div class="d">
                <label class="l">Título</label>
                <input asp-for="Titulo" class="i" required />
            </div>

            <div class="d">
                <label class="l">Autor</label>
                <select asp-for="AutorId" asp-items="ViewBag.Autores" class="s">
                    <option value="">(Selecione)</option>
                </select>
            </div>

            <div class="d">
                <label class="l">Editora</label>
                <select asp-for="EditoraId" asp-items="ViewBag.Editoras" class="i">
                    <option value="">(Selecione)</option>
                </select>
            </div>

            <div class="d">
                <label class="l">Gênero</label>
                <select asp-for="GeneroId" asp-items="ViewBag.Generos" class="s">
                    <option value="">(Selecione)</option>
                </select>
            </div>

            <div class="d">
                <label class="l">Ano</label>
                <input class="i" asp-for="Ano" type="number" class="input" />
            </div>

            <div class="d">
                <label class="l">ISBN</label>
                <input class="i" asp-for="Isbn" class="input" />
            </div>

            <div class="d">
                <label class="l">Quantidade total</label>
                <input class="i" asp-for="QuantidadeTotal" type="number" min="1" class="input" required />
            </div>

              <div class="d">
                    <label class="l lif">
                        Capa do livro
                         <input type="file" name="capa" accept="image/*" class="i" style="display:none" />
                    </label>
                    
                    <small class="hint"> Formatos comuns: JPG/PNG. Tamanho Moderado</small>
              </div>

       


        </div>


        <div class="form-actions ">
            <a asp-action="Index" class="btn btn-light">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>